<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Connecting Families to Services</h1>
      <h2>A project of the St. Petersburg office of Education and Community Engagement</h2>
      <p>
        Welcome to our digital portal. We connect you to service providers that help facilitate successful educational outcomes for the residents of the City of St. Petersburg.</p>
    </div>
  </div>
  <div class="row">
    <section class="col-md-6 col-md-offset-3">
      <h1>Search For a Support Service</h1>
      <form>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter a support category">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Search</button>
          </span>
        </div>
      </form>
    </section>
  </div>

</div>
