<h1>Home#search</h1>

<%= form_tag(providers_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Providers" %>
  <%= submit_tag "Search", :businessname => nil %>
<% end %>