<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Connecting Families to Services</h1>
      <h2>A project of the St. Petersburg office of Education and Community Engagement</h2>
      <p>
        Welcome to our digital portal. We connect you to service providers that help facilitate successful educational outcomes for the residents of the City of St. Petersburg.</p>
    </div>
  </div>
  <div class="row">
    <section class="col-md-6 col-md-offset-3">
      <h1>Search For a Support Service</h1>
      <%= form_tag(providers_path, :method => "get", id: "search-form" do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search providers" %>
        <%= submit_tag "Search", :businessname => nil %>
      <% end %>
    </section>
  </div>

</div>
