
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Sunshine Family Connection</h1>
      <p>
        A digital platform that provides an easily accessible mode of communication to inform the public about the critical social services relating to successful educational outcomes in the City of St. Petersburg and connecting providers and resources with the segment of the population with the greatest need.
      </p>
    </div>
  </div>
  <div class="row">
    <section class="col-md-6 col-md-offset-3">
      <h1>Search For a Support Service</h1>
      <%= form_tag(providers_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Providers" %>
        <%= submit_tag "Search", :businessname => nil %>
      <% end %>
    </section>
  </div>

</div>
