<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1>About Us</h1>
      <br/>
      <p class="text-justify">
        SunshineFamilyConnection.com is a place for Parents, Students and their Teachers to find resources in Pinellas County.
      </p>
      <p class="text-justify">
        We have information on many different types of services.
        You can find mentors and tutors here. You can also get help with mental health, after school
        activities, and social services - including child care, food, shelter and transportation.
      </p>
      <p class="text-justify">
        This initiative was made possible by the National Day of Civic Hacking St. Petersburg.
      </p>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
