<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-18">
      <h1>Privacy</h1>
      <br/>
      <p class="text-justify">
        We highly value the privacy of our users and their personal information. We will not share any personal information gathered through the site with anyone or any services.
      </p>
      <p class="text-justify">
        Sunshine Family Connection is a portal for those in need to connect with service providers. As such, we leave any exchange of information between users and services to the discretion of both parties. We do encourage all persons to be particularly careful with information that you may disclose over the phone or via email.
      </p>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
